/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.login-wrap {
  position:fixed;
  top: 40%;
  left: 38%;
  display: flex;
}

